@{
    ViewData["Title"] = "Movie Submitted";
}

@model Mission06_jhalver6.Models.AddMovie


<h2>@Model.Title has been added to the Collection</h2>

<div>
    <a asp-controller="Home" asp-action="NewMovie">Add Another Movie</a>
</div>
