
@{
    ViewData["Title"] = "My Podcasts";
}

<h1 class="display-4">My Podcasts</h1>

<div class="text-center">
    <p>This is a link to the BaconSale podcast.</p>
    <a href="https://baconsale.com/">Baconsale website</a>
</div>